<footer class="footer">
	<div id="footer" style="margin-bottom: 0;">
	<div class="panel-footer">
		<div class="container-fluid">
		<div class="row">
			<div class="col-sm-7">
				Copyright &copy 20{{ site.time | date: '%y' }} 东南大学计算机科学拔尖学生培养基地 <br />

				<a href="https://cs.seu.edu.cn">学院官网 </a>
				<a href="https://cs.seu.edu.cn/49434/list.htm">基地通知 </a>
			</div>
			
			<div class="col-sm-5">
				中国 · 江苏 · 南京 <br />
				东南大学九龙湖校区 · 计算机楼北楼
			</div>
		</div>
		</div>
	</div>
	</div>
</footer>

<script src="{{ site.url }}{{ site.baseurl }}/js/jquery-2.2.4.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
