<footer class="footer">
	<div id="footer" style="margin-bottom: 0;">
	<div class="panel-footer">
		<div class="container-fluid">
		<div class="row">
			<div class="col-sm-7">
				Copyright &copy 20{{ site.time | date: '%y' }} 东南大学计算机科学拔尖学生培养基地 <br />
<!--				<p><small>We are from-->
<!--					<a href="https://cse.seu.edu.cn">School of Computer Science and Engineering</a>,-->
<!--					<a href="https://cose.seu.edu.cn">College of Software Engineering</a>,-->
<!--					<a href="https://cyber.seu.edu.cn">School of Cyber Science and Engineering</a>, and-->
<!--					<a href="https://smjgs.seu.edu.cn">SEU-Monash Joint Graduate School</a>-->
<!--					at <a href="https://www.seu.edu.cn/">SEU</a>.</small></p>-->
<!--				</p>-->
				<a href="https://cs.seu.edu.cn">学院官网 </a>
				<a href="https://cs.seu.edu.cn/49434/list.htm">基地通知 </a>
			</div>
			
			<div class="col-sm-5">
			Computer Building, Southeast University, <br />
			Nanjing 211189, Jiangsu, P. R. China <br />
			
<!--			<a href="https://github.com/SEU-NetSI" target="_blank"><img src="{{ site.url }}{{ site.baseurl }}/images/icon/link/github.png" class="footer-link" alt="github" ></a>-->
<!--			<a href="https://www.youtube.com/channel/UCDI0jVFAgmyX2Bgghe9y4Pg" target="_blank"><img src="{{ site.url }}{{ site.baseurl }}/images/icon/link/youtube.png" class="footer-link" alt="youtube" ></a>-->
<!--			<a href="https://scholar.google.com/citations?user=7N_fRVwAAAAJ" target="_blank"><img src="{{ site.url }}{{ site.baseurl }}/images/icon/link/googlescholar.png"  class="footer-link" alt="google" ></a>-->
<!--			<a href="https://seunetsi.feishu.cn/docs/doccn2Q1cKdr6qRowHuIGK0EV6e?from=from_copylink" target="_blank"><img src="{{ site.url }}{{ site.baseurl }}/images/icon/link/feishu.png" class="footer-link" alt="feishu" ></a>-->
<!--			<a href="mailto:shanfeng@seu.edu.cn"><img src="{{ site.url }}{{ site.baseurl }}/images/icon/link/email.png" class="footer-link" alt="email" ></a>-->
			</div>
		</div>
		</div>
	</div>
	</div>
</footer>

<script src="{{ site.url }}{{ site.baseurl }}/js/jquery-2.2.4.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
